.display-linebreak {
    white-space: pre-line;
  }

.cellStyling {
    background-color: #d3d3d3;
    text-indent: 100%;
}

.balance_style {
    list-style-type: disc;
    padding-left: 20px;
}

.danger_text {
    color: white;
    background-color: #ff3333;
}

.exchange {
    color: rgb(24, 21, 21);
    background-color: rgb(86, 199, 142);
}